/* universal styles */

body {
  margin: 0;
  padding: 0;
  color: white;
  background: #222629;
  font-family: 'PT Mono', monospace;
}

p {
  color: #6b6e70;
  font-family: 'VT323', monospace;
}


/* navbar with logo, search, and settings */

.top-row {
  border-bottom: 1px solid #474b4f;
  position: static;
}

.main-container {
  margin: 0 !important;
  width: 100%;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* 
.custom-nav {
  width: 100% !important;
} */

.nav-profile {
  border: 1px solid rgb(114, 114, 114);
  border-radius: 50%;
  background-color: #212529;
  width: 40px; 
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.nav-profile img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover; 
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2c3135;
    overflow-x: hidden;
    transition: 0.5s;
}

.sideNav ul {
  padding: 0;
}

.sideNav ul li {
  text-decoration: none;
  font-size: 18px;
  color: #86c232;
  display: block;
  transition: 0.3s;
  margin-top: 80px;
  cursor: pointer;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    padding: 10px;
    text-decoration: none;
    color: #61892f;
}

.logo img {
  width: 130px;
  object-fit: cover; 
}

.search-container {
  height: 48px;
  border: 1px solid #474b4f;
}

.search-container i {
  font-size: 26px;
  color: #61892f;
}

.search-container .fa-magnifying-glass {
  color: #61892f;
  font-size: 100%;
  cursor: pointer;
}

.input-search {
  height: 40px;
  width: 70%;
  border: transparent;
  background: transparent;
  color: #ffffff;
}

textarea:focus, input:focus{
  outline: none;
}

/* sidebar table/desktop view with inbox, sent, drafts, spam and button */

.content-row {
  flex-grow: 1;
  overflow-y: auto;
}

.folder-container {
  border-right: 1px solid #474b4f;
}

.compose-button {
  border-radius: 5px;
  width: 120px;
  background-color: #86c232;
  border: 1px solid #474b4f;
  color: #ffffff;
  margin-bottom: 100px;
}

.email-folders ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

.email-folders ul li {
  margin-bottom: 80px;
  cursor: pointer;
  list-style: none;
}

.email-folders ul li i {
  color: #61892f;
}


/* emails container */

.email-container {
  height: auto;
}

.solo-email {
  min-height: 90px;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #474b4f;
  border-bottom-width: 1px;
  cursor: pointer;
}

.solo-email:hover {
  background-color: #53575a;
}

.solo-email:hover p {
  color: #ffffff;
}

.sender-name {
  margin-top: 10px;
  font-size: 15px;
}

.sender-title {
  font-size: 10px;
  color: #adacac;
}

.profile-img-email, .profile-img  {
  border: 1px solid rgb(114, 114, 114);
  border-radius: 50%;
  background-color: #212529;
  width: 50px; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-img-email img, .profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; 
}

.emails-info {
  font-size: 14px;
}

.email-info-container {
  width: 60%;
}

.fav-date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fav-date h4{
  font-size: 10px;
}

.fav-date i {
  color: #61892f;
}


/* reply container */

.selected-email {
  height: auto;
}

.reply-container {
  border-left: 1px solid #474b4f;
  border-top: 1px solid #474b4f;
}

.reply-wrapper {
  width: 100%;
}

.email-info h2 {
  font-size: 25px;
}

.email-info p {
  font-size: 17px;
}

.reply i, .forward i, .delete i {
  color: #61892f;
}

.reply, .forward, .delete {
  cursor: pointer;
}

.reply-field {
  height: 150px;
  width: 100%;
  background: transparent;
  color: #ffffff;
}

.send-button {
  border-radius: 5px;
  width: 120px;
  background-color: #86c232;
  border: 1px solid #474b4f;
  color: #ffffff;
}


@media screen and (min-width: 992px){
  .search-bar nav form {
    width: 500px !important;
  }
}
